<div class="section">
    <img src="fondoUrl" alt="">
    <button>Contactanos</button>
    <button>Login</button>
    <button>Creaar cuenta</button>
    <h1>Capturando la Perspectiva de los
    Estudiantes de Media Vocacional
    </h1>
    <p>En esta página, exploraremos la importancia de entender a los estudiantes de media vocacional y su
    relación con la tecnología. Analizaremos cómo mejorar los procesos educativos y preparar a estos jóvenes
    para el mundo digital del siglo XXI.</p>
</div>